:root{
    --intro-and-email:hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg:hsl(216, 53%, 9%);
    --testimonial-bg:hsl(219, 30%, 18%);
    --gradient: hsl(176, 68%, 64%), hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --white:hsl(0, 0%, 100%);
    --text-1-400-700: "Raleway", sans-serif;
    --text-2-400-700: "Open Sans", sans-serif;
}

